local_settings.py

# Packaging
*.pyc
*.egg-info
/dist/
/docs/build/

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store

# IDE files
.project
.pydevproject
.settings
.idea

# Test files
.coverage
.noseids
coverage.xml
violations.txt
nosetests.xml
/htmlcov/*
/.tox/*
