include LICENSE
include README.rst
include AUTHORS
include tox.ini
recursive-include cmsplugin_googleplus/locale *
recursive-include cmsplugin_googleplus/templates *
recursive-include cmsplugin_googleplus/tests/data *
recursive-include cmsplugin_googleplus/tests/test_project/templates *
recursive-include docs *
recursive-exclude * *.pyc
