include LICENSE
include README.rst
include AUTHORS
recursive-include cmsplugin_googleplus/templates/cmsplugin_googleplus *
recursive-include cmsplugin_googleplus/tests/data *
recursive-include cmsplugin_googleplus/tests/test_project/templates *
recursive-include docs *
recursive-exclude * *.pyc